h1{
	height: 60px;
	background-color: grey;
	color: orange;
}
a{
	background-color: blue;
	color: white;
}
a:active{
	background-color: grey;
	color: orange;
}
th{
	background-color: green;
	color: white;
}

footer{
	height: 60px;
	background-color: orange;
}
table,td{
	border:  1px solid black;
}

